extends layout

block content
  h1= title

  //- If a user is logged in
  if user !== undefined
    p Welcome #{user.first_name}
    p Membership: #{user.membership}
    if user.membership === 'Non-Member'
      p
        a(href='/code') Enter the secret code to become a full member!
    a(href='/logout') Log Out

  //- If there is no user logged in
  if user == undefined
    p Welcome
    p
      a(href='/login') Log In
    p
      a(href='/sign-up') Sign Up

  //- Shows all messages
  ul.message-container
    each message in message_list
      div.container
        if user !== undefined
          li #{ message.user.username }
        else
          li Anonymous User
        li #{ message.title }
        li #{ message.text }
        li #{ message.added }

    else
      div.message-container
        li There are no messages

  //- Form only shows if use is a Member or Admin
  if user !== undefined
    if user.membership === 'Member' || user.membership === 'Admin'
      form(method='POST' action='')
        div.form-group
          label(for='title') Message Title:
          input(type='text' name='title' value=(undefined === message ? '' : message.title))
        div.form-group
          label(for='text') Message Body:
          input(type='text' name='text' value=(undefined === message ? '' : message.text))
        button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg